:root {
    --primary-purple: #5c068c;
    --light-purple: #8a4bb5;
    --white: #ffffff;
    --bg-light: #f5f0fa;
    --repo-primary: #21a363;
    --repo-secondary: #fdce4a;
    --repo-tertiary: #3e6fc9;
    --repo-quaternary: #498af4;
}
